@import '../../css/variables.css';

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
    text-shadow: var(--text-shadow);

}


.item{
  flex-basis: calc(20% - 1rem);
}

.item_val{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: var(--primary-bg);
  font-size: 2.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow:  rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  transition: all var(--transParam);
    
}


.item_val:hover{
   transform: scale(1.1);
   
}

.item_val.checked{
  position: relative;
    
    border: 1px solid rgba(173, 167, 167, 0.719);
    box-shadow: 0 0 0 0.5rem var(--primary-color);
    filter: var(--filter);
    z-index: 10;
    transform: scale(1.1) translateY(1rem);
    transition: all var(--transParam);
}


@media  screen and (min-width: 768px) {
  .list{
    flex-wrap: nowrap;
    }

    .item{
  flex-basis: calc(10% - 1rem);
}

.item_val{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: var(--primary-bg);
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow:  rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  transition: all var(--transParam);
    
}

}



