@import '../../css/variables.css';

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);

    
    
    
}


.item{
   width: 5rem;
   height: 5rem;
    background: var(--primary-bg);
    font-size: 2.5rem;
    padding: 1rem;
   border-radius: 50%;
    text-align: center;
    box-shadow:  rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: all var(--transParam);
    
}
.item:not(:last-child) {
  margin-right: 1rem;
}


.item:hover{
   transform: scale(1.1);
 
    
   
}

.item.checked{
  position: relative;
    transform: scale(1.1) translateY(1rem);
    border: 1px solid rgba(139, 132, 132, 0.719);
    box-shadow: 0 0 0 0.5rem var(--primary-color);
    filter: var(--filter);
    z-index: 10;
}



