.layout{   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-image:url('../../images/heropic.png'),url('../../images/numbers.png'),radial-gradient(circle, #e7f0b9, #eaf59b, #eff97a, #f6fc52, #fffe00);
  background-size: 20vw, 60vw,contain ;
  background-repeat: no-repeat;
  background-position: top left, bottom right, center;
    
}
