@import '../../css/variables.css';

.table{
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 4rem;
    width: 100%;
    font-size: 5rem;
background-image: url('../../images/card-bg.svg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 15%;
overflow: hidden;
   
}


.table_cell{
    text-align: center;
    color: var(--primary-color);
    filter: var(--filter);
}


@media screen and (min-width: 768px){
    .table{
   font-size: 3rem;
   width: 50%;
}
}


