@import '../../css/variables.css';

.table{
    margin-top: 1rem;
    padding: 1rem 4rem;
    min-width: 30%;
    font-size: 3rem;
background-image: url('../../images/card-bg.svg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 25%;
overflow: hidden;
   
}


.table_cell{
    text-align: center;
    color: var(--primary-color);
    filter: var(--filter);

    
    
}


