.card_thumb{
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: #ebc206;
background-image: url('../../images/card-bg.svg');
background-size: cover;
background-repeat: no-repeat;
 min-width: 8rem;
 height: 10rem;
 
overflow: hidden;
padding: 1rem;
  border: 1px solid darkgoldenrod;
	border-radius: 2rem;
box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.2), inset 0 4px 9px 3px rgb(241 169 6 / 80%);
}


.card_thumb p{
  font-size: 4rem;
 color: whitesmoke;
  filter: drop-shadow(2px 2px 1px #1e1f1e);
  
}