@import '../../css/variables.css';

.back_button{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
   
}


.back_button_image{
   width:100%;
    height: 100%;
    fill: var(--icon-color);
    transition: all var(--transParam);
}

.back_button_image:hover {
    fill: var(--primary-color);
    filter: var(--filter);
}
