.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.modal_content {
  position: relative;
  object-fit:contain;
  object-position: center;
  padding: 0.5rem;
  font-size: 3rem;
   background-color: #f98700;
background-image: url('../../images/card-bg.svg');
background-size: cover;
background-repeat: no-repeat;
border-radius: 2rem;
 
 
  
  
}
.modal_btn {
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: scale 250ms linear;
   
}

.modal_btn:hover{
        scale: 1.1;
    }

.hide_modal_btn_icon{

    width:15px;
    height: 15px;
    fill: rgb(255, 253, 253);
    filter: drop-shadow(2px 2px 1px #1e1f1e);
   

}



