@import '../../css/variables.css';


.container{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 2rem ;
  font-size: 3rem;
  color: #3a3936e0;
}

.lang{
display: flex;
gap: 1rem;
justify-content: space-between;
align-items:flex-end;
border-radius: 1.5rem;
text-transform: capitalize;
cursor: pointer;
text-shadow: var(--text-shadow);
    
}
.lang:hover{
    color: var(--primary-color);
     text-shadow: none;
    filter: var(--filter);
   transform: scale(1.1);
}

.flag{
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all var(--transParam);
}


.ua{
    background-image: url('../../images/ua.png');
  
}

.pl{
    background-image: url('../../images/pl.png');

}

.en{
    background-image: url('../../images/eng.png');
   
}

.dropdown{
    position: absolute;
    top: 130%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.dropdown_item{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items:flex-end;
   padding:0.8rem 0.5rem;
   box-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
   border-radius: 1.5rem;
   text-align: right;
text-transform: capitalize;
cursor: pointer;
transition: all 250ms ease-in;
}

.dropdown_item:hover{
    transform: scale(1.1);
}


@media screen and (min-width: 768px){
.container{
  
  margin-right: 1rem ;
  font-size: 1.5rem;
}
.lang{gap:0.5rem}

.flag{
    width: 3rem;
    height: 3rem;
}

}


