@import '../../css/variables.css';

.header{
    width: 100%;
   background-color: rgba(221, 218, 218, 0.329);
    border-bottom: 1px solid rgba(196, 193, 193, 0.548);
    padding: 1.5rem 0 0.75rem 0;
  
}
.container{
    display: flex;
    padding: 0 4rem;
    max-width: 90%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
  
}

.logo_thumb{
   background: var(--primary-bg);
	color: var(--primary-color);
	--width: 6rem;
	width: var(--width);
	height: var(--width);
	padding: 0.75rem;
	border: 1px solid darkgoldenrod;
	border-radius: 50%;
	box-shadow: 1px 0 0 3px rgba(54, 53, 53, 0.2);
	overflow: hidden;
    transform: perspective(20px) rotateY(15deg);
    transition: all var(--transParam);

}

.logo_thumb:hover{
    transform: perspective(20px) rotateY(8deg) scale(1.1);
    cursor: pointer;
}


.logo_image{
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.diarybook_thumb{
    width:6rem;
    height: 6rem;

   padding: 0.25rem;
    object-fit: cover;
    cursor: pointer;
    transition: all var(--transParam);
}

.diarybook_icon{
    width:100%;
    height: 100%;
    fill: var(--icon-color)
    
}

.diarybook_thumb:hover .diarybook_icon{
    fill: var(--primary-color);
    filter: var(--filter);
    
}


@media screen and (min-width: 768px){
    .header{
   
    padding: 0.75rem 0;
  
}
    .logo_thumb{
   
	--width: 3rem;
	width: var(--width);
	height: var(--width);
	padding: 0.25rem;

}

.diarybook_thumb{
    width:3rem;
    height: 3rem;

}


}