

.header{
    width: 100%;
   background-color: rgba(221, 218, 218, 0.329);
    border-bottom: 1px solid rgba(196, 193, 193, 0.548);
  
}
.container{
    display: flex;
    padding: 0.25rem 6rem;
    width: 90%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
  
}

.logo_thumb{
   background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 2.5rem;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--width);
	line-height: var(--height);
	padding: 0.25rem;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	box-shadow: 1px 0 0 3px rgba(54, 53, 53, 0.2);
	overflow: hidden;
    transform: perspective(20px) rotateY(15deg);
    transition: transform 250ms ease-in-out;

}

.logo_thumb:hover{
    transform: perspective(20px) rotateY(8deg) scale(1.1);
}


.logo_image{
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.diarybook_thumb{
    width:2.5rem;
    height: 2.5rem;

   padding: 0.25rem;
    object-fit: cover;
    cursor: pointer;
}

.diarybook_icon{
    width:100%;
    height: 100%;
    fill: #3a3936e0;
    transition: all 250ms ease-in-out;
}

.diarybook_thumb:hover .diarybook_icon{
    fill: whitesmoke;
    filter: drop-shadow(2px 2px 1px #1e1f1e);
    
}