.container{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
color:whitesmoke;
filter: drop-shadow(2px 2px 1px #1e1f1e);
justify-content: center;
padding: 3rem 3rem;
}

.correct_card{
border-radius: 2rem;
 box-shadow: 0px 0px 20px 10px rgb(8, 240, 35);
 
}
.wrong_card{
    border-radius: 2rem;
     box-shadow: 0px 0px 20px 10px rgb(240, 8, 8);

}

.result_title{
    font-size: 5rem;
    text-transform: capitalize;
}
.result_box{
    display: flex;
    gap: 10rem;
    margin-top: 10rem;
}


.card_value{
    font-size: 5rem;
}

.card_title{
    margin-bottom: 10rem;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .container{
    height: auto;
  }
    .card_title{
    margin-bottom: 7rem;
    
}
}