@import '../../css/variables.css';

.box{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    vertical-align: baseline;
}

.icon{
   position: absolute;
   left: 0;
    width: 5rem;
    height: 5rem;
    fill: #565656;
    background-color: #f5d01a;
    border: none;
    border-radius: 50%;
    box-shadow: -2px 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    
}

.value{
    background: var(--primary-bg);
	color: var(--primary-color);
	--width: 20rem;
	--height: calc(var(--width) / 3);
	width: var(--width);
	text-align: center;
	font-size:3rem;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: var(--text-shadow);
	box-shadow: var(--box-shadow);

}


@media screen and (min-width:768px) {
  

.value{
	--width: 25rem;
	--height: calc(var(--width) / 3);
	width: var(--width);
}
	

}
