@import-normalize; 
 
 /* bring in normalize.css styles */

@font-face {
  font-family: 'DingExtra-HeavyLine';
  font-style: normal;
  font-weight: 900;
  src: local('DingExtra-HeavyLine'),
    url('/assets/Fonts/DingExtra-HeavyLine.ttf') format('truetype'),
    url('/assets/Fonts/DingExtra-HeavyLine.eot') format('embedded-opentype'),
    url('/assets/Fonts/DingExtra-HeavyLine.woff2') format('woff2'),
    url('/assets/Fonts/DingExtra-HeavyLine.woff') format('woff');
}



* {
  box-sizing: border-box;
}
html{
  font-size: calc((1vw + 1vh)/2);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}


img {
  display: block;
  max-width: 100%;
}


ul {
  list-style: none;
}



body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'DingExtra-HeavyLine',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.03rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
