@import '../../css/variables.css';

.container{ 
display: flex;
width: 100%;
justify-content: space-between;

}

.hero_container_box{
	
	max-width: 75%;
    background: var(--primary-bg);
	color: var(--primary-color);
	font-size:4rem;
	padding: 3rem;
	text-align: center;
  font-family: inherit;
	border: var(--primary-border);
	border-radius: 2rem;
	transform: perspective(50vw) rotateY(5deg);
	text-shadow: var(--text-shadow);
	box-shadow: var(--box-shadow);
	position: relative;
	overflow: hidden;

}

.hero_title{
    text-transform: capitalize;
    text-align:start;
     text-wrap: wrap;
    text-shadow: var(--text-shadow);
	

    
}

.container_box{  
	display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
	justify-content: flex-end;
    
}
