.container{ 
display: flex;
width: 100%;
height: 100%;
justify-content: space-around;
align-items: center;
 padding: 0 5rem;

}

.hero_container_box{
    background: linear-gradient(to right, rgba(255, 217, 0, 0.8), rgba(255, 140, 0, 0.8));
	color: white;
	--width: 250px;
	--height: calc(var(--width) / 3);
max-width: 65%;
padding: 3rem;
	text-align: center;
	line-height: var(--height);
  font-family: inherit;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(5deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;

}

.hero_title{
    text-transform: capitalize;
    text-align:start;
     font-size: 5rem;
     text-wrap: wrap;
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);

    
}

.container_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}
