

.container{
    display:flex;
    justify-content: space-between;
    width: 80%;
}

.label{
 
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}
.label:hover{
  transform: scale(1.1);
}

.card_input{
position: absolute;
visibility: hidden;
top: 0;
left: -1px;
width: 1px;
height: 1px;
}

.card_correct{
  box-shadow: 0px 0px 20px 10px rgb(8, 240, 35);
 

}

.card_wrong{
  box-shadow: 0px 0px 20px 10px rgb(240, 8, 8);

}



