

.container{
    display:flex;
    justify-content: space-between;
    width: 75%;
}

.card{
  background: radial-gradient(circle, rgba(222,243,246,0.6502976190476191) 0%, rgba(223,252,70,0.8995973389355743) 50%, rgba(252,155,70,0.8995973389355743) 100%);
 padding: 5%;
  font-size: 72px;
  color: #fff;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  border: solid rgba(36, 35, 35, 0.432);
  border-color: rgb(70, 68, 68);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-width: 4px 5px 4px 6px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}

.card_input{
position: absolute;
visibility: hidden;
}

.card_correct{
 background: radial-gradient(circle, rgba(222,243,246,0.6502976190476191) 0%, rgba(223,252,70,0.8995973389355743) 50%, rgba(252,155,70,0.8995973389355743) 100%);
 padding: 5%;
  font-size: 72px;
  color: #fff;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  border: solid rgba(36, 35, 35, 0.432);
  border-color: rgb(70, 68, 68);
  border-width: 4px 5px 4px 6px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px, inset 0 0 40px 25px rgba(72, 230, 10, 0.8);
  transition: all 250ms ease-in-out;
}

.card_wrong{
 background: radial-gradient(circle, rgba(222,243,246,0.6502976190476191) 0%, rgba(223,252,70,0.8995973389355743) 50%, rgba(252,155,70,0.8995973389355743) 100%);
 padding: 5%;
  font-size: 72px;
  color: #fff;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  border: solid rgba(36, 35, 35, 0.432);
  border-color: rgb(70, 68, 68);
  border-width: 4px 5px 4px 6px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px, inset 0 0 40px 25px rgba(230, 10, 10, 0.8);
  transition: all 250ms ease-in-out;
}



