@import '../../css/variables.css';

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
}
.label{
    font-size: 3rem;
    padding: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: capitalize;
    
    
}
.select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1rem;
  background-color: var(--primary-color);
  background-image: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  text-shadow: var(--text-shadow);
}
/* Remove IE arrow */
.select::-ms-expand {
  display: none;
}

.custom_select{
  position: relative;
  display: flex;
  width: 100%;
padding: 2rem 0;
background-color: var(--primary-color);
 border-radius: 5rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.custom_select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  font-size:2.5rem;
  padding: 2.5rem;
  background-color: var(--primary-color);
  transition: all var(--transParam);
  pointer-events: none;
}

.custom_select:hover::after {
  color: #ff6e40;
}


@media screen and (min-width: 768px){
  .box{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding: 10px;
}

.select {
  font-size: 2rem;
}


.custom_select{
padding: 1rem 0 ;

}

.custom_select::after {
font-size: 1.5rem;
  padding: 1.5rem;

}}